:root {
  --app-bg: #f8f9fb;
}

body {
  background-color: var(--app-bg);
  color: #1c1c1e;
}

[data-mantine-color-scheme='dark'] body {
  background-color: #101113;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 1s linear infinite;
}
